# Python
*.pyc
.python_history

# virtualenv
env

# Jupyter notebook
.ipynb_checkpoints

# Mac
.DS_Store

# shell
.ash_history

# ESLint
.eslintrc.js

# IntelliJ
.idea

# NLP100 data
*.txt*
*.json

# ch5_44
ch5/graph/*
!.gitkeep

# VSCode
.vscode-server