{% extends "fix_layout.html" %}
{% block content %}
<form>
  <div class="form-group">
    <label for="txt_art_nam">アーティスト名</label>
    <input type="text" class="form-control" id="txt_art_nam">
  </div>
  <div class="form-group">
    <label for="txt_alt_nam">アーティスト別名</label>
    <input type="text" class="form-control" id="txt_alt_nam">
  </div>
  <div class="form-group">
    <label for="txt_art_tag">タグ</label>
    <input type="text" class="form-control" id="txt_art_tag">
  </div>
  <button type="submit" class="btn btn-primary">検索</button>
</form>
{% endblock %}